.bg-yellow-50 {
  background-color: #FFFBEB;
}

.bg-yellow-100 {
  background-color: #FEF3C7;
}

.bg-yellow-200 {
  background-color: #FDE68A;
}

.bg-yellow-300 {
  background-color: #FCD34D;
}

.bg-yellow-400 {
  background-color: #FBBF24;
}

.bg-yellow-500 {
  background-color: #F59E0B;
}

.bg-yellow-600 {
  background-color: #D97706;
}

.bg-yellow-700 {
  background-color: #B45309;
}

.bg-yellow-800 {
  background-color: #92400E;
}

.bg-yellow-900 {
  background-color: #78350F;
}

.body-bg {
  background-color: #191923;
}

.primary-bg-color {
  background-color: #20202a;
}

.secondary-bg-color {
  background-color: #24242f;
}