.text-yellow-50 {
  color: #FFFBEB;
}

.text-yellow-100 {
  color: #FEF3C7;
}

.text-yellow-200 {
  color: #FDE68A;
}

.text-yellow-300 {
  color: #FCD34D;
}

.text-yellow-400 {
  color: #FBBF24;
}

.text-yellow-500 {
  color: #F59E0B;
}

.text-yellow-600 {
  color: #D97706;
}

.text-yellow-700 {
  color: #B45309;
}

.text-yellow-800 {
  color: #92400E;
}

.text-yellow-900 {
  color: #78350F;
}