html,
body {
  background-color: #191923;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.primary-bg-color {
  background-color: #20202A;
}

.secondary-bg-color {
  background-color: #24242F;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
